:root {
  font-size: 12px;
}

@font-face {
  font-family: 'PingFang-SC';
  src: url('./fonts/pingfang-sc.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  color: #44566c;
  overflow-y: auto;
  tab-size: unset;
  background-color: #ffffff;
  font-family:
    system-ui,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif,
    BlinkMacSystemFont,
    Helvetica Neue,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial !important;
  /* font-family: PingFang SC, Arial, Helvetica, sans-serif; */
}



body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ul,
ol,
th,
td,
button,
figure,
input,
textarea,
form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.settingContainer {
  position: relative;
  top: 10px;
}

.settingContainer .v-list-item {
  min-height: 32px;
}

.settingContainer .v-list-item .v-list-item-title {
  color: #44566c;
}