:root {
  font-size: 10px;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'PingFang-SC';
  src: url('./fonts/pingfang-sc.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f7f8f9;
  /* font-family: 'PingFang-SC'; */
  font-family:
    -apple-system,
    system-ui,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif,
    BlinkMacSystemFont,
    Helvetica Neue,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial !important;
  /* font-family: PingFang SC, Arial, Helvetica, sans-serif; */
}

#app {
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ul,
ol,
th,
td,
button,
figure,
input,
textarea,
form {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type='number'] {
  -moz-appearance: textfield;
}
