/**font-szie**/
$font-size-small1: 1rem; // 小一字体
$font-size-small2: 1.2rem; // 小二字体
$font-size-primary: 1.4rem;  // 主要字体
$font-size-Level1: 1.6rem;   // 一级字体
$font-size-Level2: 1.8rem; // 二级字体
$font-size-Level3: 2.0rem; // 三级字体

/**font-family**/
$font-family-main: 'PingFang-SC';

/**color**/
$page-default-bgColor: #f7f8f9 ; // 页面默认的背景色
$font-color-primary: #ffffff;  // 主要颜色
$font-text-color: #454545;     // 文字主色调
$button-bgColor: #ffd231;     // 按钮主色调
$border-color: #e6e6e6;         // 输入框边框的色调
$button-link-color: #1e80ff;
$font-matchSub-color: #7373aa;
$font-green-color: #2bbb0a;
$font-red-user: #3c9cfe;
$font-red-system: #0900ff;
